!!! 5
%html
  %head
    %title= "The Makers"
    %meta{ :content => "The Makers Jewellery is a Wellington based store selling artisan crafted jewellery from local jewellers Buster Collins Natalie Salisbury Jewellery GG Jewellery and Vaune Mason. Guest artists are also on display.", :name => "description" }
    %meta{ :content => "The Makers, wedding rings, mens jewellery, mens jewelery, silver jewellery,silver jewelery, gold jewellery, gold jewelery, diamond ring, sapphire jewellery, carved jewellery, pounamu  jewellery, silver ring, gold ring, wedding jewellery, unusual wedding bands, organic jewellery, organic wedding bands, organic wedding rings, new zealand jewellers, hand made jewellery, hand made jewelery, high quality hand made jewellery, ethical jewellery, bespoke jewellery, bespoke rings, cool cufflinks for men, animal jewellery, vaune mason jewellery, annie collins jewellery, buster collins jewellery, gg jewellery, gemma graeve, natalie salisbury jewellery, hand made jewellery in wellington, wooden jewellery, wood in jewellery, wooden jewelery, different jewellery, rabbit necklace, fox necklace, bird necklace, feather jewellery, earrings, aquamarine earrings, gemstone earrings, gemstone jewellery, funky jewellery, funky jewelery, new jewelery, new jewellery, cool places to visit in wellington, boutique shopping in wellington, jewellery shops wellington, jewellery shopping in wellington, must see wellington, must do in wellington, art in wellington, craft studios wellington, jewellery studios wellington, wellington jewellers, wellington jeweller, wedding jeweller wellington, wedding bands, wedding jewellery in wellington"}
    %meta{ :content => "The Makers", :name => "author" }
    %link{ :href => "https://fonts.googleapis.com/css?family=Libre+Baskerville", :rel => "stylesheet", :type => "text/css"}
    %link{ :href => "/stylesheets/site.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "images/favicon/apple-touch-icon-57x57.png", :rel => "apple-touch-icon-precomposed", :sizes => "57x57"}
    %link{ :href => "images/favicon/apple-touch-icon-114x114.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{ :href => "images/favicon/apple-touch-icon-72x72.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{ :href => "images/favicon/apple-touch-icon-144x144.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
    %link{ :href => "images/favicon/apple-touch-icon-60x60.png", :rel => "apple-touch-icon-precomposed", :sizes => "60x60"}
    %link{ :href => "images/favicon/apple-touch-icon-120x120.png", :rel => "apple-touch-icon-precomposed", :sizes => "120x120"}
    %link{ :href => "images/favicon/apple-touch-icon-76x76.png", :rel => "apple-touch-icon-precomposed", :sizes => "76x76"}
    %link{ :href => "images/favicon/apple-touch-icon-152x152.png", :rel => "apple-touch-icon-precomposed", :sizes => "152x152"}
    %link{ :href => "images/favicon/favicon-196x196.png", :rel => "icon", :sizes => "196x196", :type => "imagepng"}
    %link{ :href => "images/favicon/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "imagepng"}
    %link{ :href => "images/favicon/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "imagepng"}
    %link{ :href => "images/favicon/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "imagepng"}
    %link{ :href => "images/favicon/favicon-128.png", :rel => "icon", :sizes => "128x128", :type => "imagepng"}
    %meta{ :content => "images/favicon/mstile-144x144.png", :name => "msapplication-TileImage"}
    %meta{ :content => "images/favicon/mstile-70x70.png", :name => "msapplication-square70x70logo"}
    %meta{ :content => "images/favicon/mstile-150x150.png", :name => "msapplication-square150x150logo"}
    %meta{ :content => "images/favicon/mstile-310x150.png", :name => "msapplication-wide310x150logo"}
    %meta{ :content => "images/favicon/mstile-310x310.png", :name => "msapplication-square310x310logo"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body= yield
