%header
  .logo
    The Makers
%p
  Present...
%p
  A Valentines Day Fundraiser Event
%p
  on
%p
  Thursday the 11th of February
%p
  5.30-7.30pm

%p
  Find us on Facebook for more information: TheMakersJewellery
%p
  65 Able Smith Street, Ground Floor
%p
  Wednesday 10-6 * Thursday 10-6 * Friday 10-6 * Saturday 10-4
